.static{
    position: static;
    bottom:0;

}
.fixed{
    position: fixed;
    top:8;
}
.relative{
    position: relative;
    left: 100;
    top:0;
}
.absolute{
    position: absolute;
    bottom:0;
    right: 0;
}
.absolutegani{
    position: absolute;
    left: 0;
    top: 0;
}
.imageprent{
    position: relative;
}