*{
    margin: 8px;
    padding: 0px;
    background-color: rgb(211, 241, 231);
}
.resume{
    margin: 20px auto;
    box-shadow: 5px 5px 5px 5px;
}
.h1{
    background-color: aquamarine;
    font-style: inherit;
    border: 1px solid;
}
.image{
    float: right;
    width: 120px;
    border-radius: 70%;


}
.h3{
    background-color: aquamarine;
    border: 1px solid;
    
}
.p3{
    float:right;
}